---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.svelte';
import ProjectCard from '../components/ProjectCard.svelte';
import Chip from '../components/Chip.svelte';
import { Content as About } from './about.md';
---

<Layout title="Jahns Michael">
	<main>
		<header>
			<h3>Hello, my name is</h3>
			<h1 class="text-gradient">Jahns Michael</h1>
			<h3>I am a <span class="text-gradient">software developer</span></h3>
		</header>
		<hr>
		<section>
			<About />
		</section>
		<section>
			<h2 class="text-gradient">Work Experience</h2>
			<ProjectCard title="Backend Engineer Intern @ Sagara Technology" href="#" stacks={["Django REST Framework", "PostgreSQL", "Google Cloud Platform"]}>
				<h3>from May 2021 to Sep 2021</h3>
				<ul>
					<li>
						Developing an API and database for an online loan management dashboard for one of the leading banks in Indonesia
					</li>
					<li>
						Working using SCRUM development cycle with a total of 16 weekly sprints.
					</li>
					<li>
						Develop using Django REST Framework and PostgreSQL database deployed to Google Cloud Platform.
					</li>
				</ul>
			</ProjectCard>
		</section>
		<section>
			<h2 class="text-gradient">Projects</h2>
			<ul role="list" class="link-card-grid">
				<ProjectCard href="#" title="TBCare" stacks={["Django REST Framework", "React" ] }>
					Open-source app for tracking TBC cases
				</ProjectCard>
				<ProjectCard href="#" title="KumaKuma" stacks={["Django"] }>
					a FnB Recipe Blog Maker
				</ProjectCard>
				<ProjectCard href="#" title="Jarvis Healtchecker" stacks={["Django"] }>
					guessing your health condition using decision tree algorithm
				</ProjectCard>
			</ul>
		</section>
		<section>
			<h2 class="text-gradient">Skills</h2>
			<h3>Programming Languages</h3>
			<Chip>Javascript</Chip>
			<Chip>Python</Chip>
			<Chip>Typescript</Chip>
			<Chip>Java</Chip>
			<Chip>C#</Chip>
			<h3>Frontend Frameworks</h3>
			<Chip>React</Chip>
			<Chip>Vue</Chip>
			<Chip>Svelte</Chip>
			<h3>Backend Frameworks</h3>
			<Chip>Django REST Framework</Chip>
			<Chip>SpringBoot</Chip>
			<h3>Other Stuff</h3>
			<h4>Game Engine</h4>
			<Chip>Godot</Chip>
			<Chip>Unity</Chip>
			<h4>Design and Art Tools</h4>
			<Chip>Inkscape</Chip>
			<Chip>Figma</Chip>
			<Chip>Blender</Chip>
		</section>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4F39FA, #DA62C4);
	}

	header,
	section {
		margin: 4rem 0;
	}

	header h1,
	header h3 {
		margin-block: 0.25rem;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>